player-connection-mode=Listen
player-connection-guid=3514182866
player-connection-debug=0
player-connection-project-name=Wii Tanks
player-connection-ip=192.168.0.19
player-connection-ip=172.17.0.1
player-connection-ip=172.18.0.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=761222909bc640b28250031d0c22fa4f
