player-connection-mode=Listen
player-connection-guid=3741369789
player-connection-debug=0
player-connection-project-name=Wii Tanks
player-connection-ip=192.168.0.3
player-connection-ip=169.254.33.193
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
